@model CompanyManager.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Role" value="@UserRoles.BUYER" />

        <div class="form-group">
            <label asp-for="Username" class="control-label">Nombre de usuario</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label">Contraseña</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DocNumber" class="control-label">Documento</label>
            <input asp-for="DocNumber" class="form-control" />
            <span asp-validation-for="DocNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="control-label">Nombre</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="control-label">Apellido</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Phone" class="control-label">Telefono</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <input type="submit" value="Registrarse" />
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }